@font-face {
  font-family: "ArchyEDT-Bold";
  src: url("../fonts/archyedt-bold-webfont.eot"); /* IE9 Compat Modes */
  src:
    url("../fonts/archyedt-bold-webfont.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/archyedt-bold-webfont.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/archyedt-bold-webfont.woff")
      format("woff"),
    /* Pretty Modern Browsers */ url("../fonts/archyedt-bold-webfont.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/archyedt-bold-webfont.svg#archyedt-bold") format("svg"); /* Legacy iOS */
}
@font-face {
  font-family: "Arial GEO Bold";
  src: url("../fonts/arial-geo-bold-webfont.eot"); /* IE9 Compat Modes */
  src:
    url("../fonts/arial-geo-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/arial-geo-bold-webfont.woff2") format("woff2"),
    /* Super Modern Browsers */ url("../fonts/arial-geo-bold-webfont.woff")
      format("woff"),
    /* Pretty Modern Browsers */ url("../fonts/arial-geo-bold-webfont.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("../fonts/arial-geo-bold-webfont.svg#arial_geobold") format("svg"); /* Legacy iOS */
}
/* h1,
h2,
a {
  font-family: "ArchyEDT-Bold";
}
h1 {
  font-size: 28px;
  text-align: left;
  letter-spacing: 0px;
  text-transform: uppercase;
}
p,
button {
  font-family: "Arial GEO Bold";
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.containermain {
  max-width: 1195px;
  margin: 0 auto;
  padding: 0 20px;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.containerfooter {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 40px;
}
h1,
h2,
a {
  font-family: "ArchyEDT-Bold";
}
h1 {
  font-size: 28px;
  text-align: left;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #171717;
}
h2 {
  padding-top: 275px;
  margin-bottom: 30px;
  color: #ffffff;
}
p,
button {
  font-family: "Arial GEO Bold";
}
.mainbuttonparrent {
  display: flex;
  justify-content: center;
}
.lorem {
  margin-top: 60px;
  font-size: 16px;
  color: #171717;
  letter-spacing: 0px;
  text-align: left;
  opacity: 1;
}
.consectetur {
  margin-top: 18px;
  font-size: 16px;
  color: #171717;
  letter-spacing: 0px;
  text-align: left;
  opacity: 1;
}
.ciceron {
  margin-top: 30px;
  font-size: 16px;
  color: #171717;
  letter-spacing: 0px;
  text-align: left;
  opacity: 1;
}
.pasage {
  margin-top: 18px;
  margin-bottom: 58px;
  font-size: 16px;
  color: #171717;
  letter-spacing: 0px;
  text-align: left;
  opacity: 1;
}
img {
  max-width: 100%;
  padding-right: 8px;
}
ul {
  list-style-type: none;
}
li {
  margin-right: 40px;
}
a {
  text-decoration: none;
  color: #ffffff;
}
header {
  background-color: #0020f4;
  height: 389px;
  padding-top: 35px;
}
footer {
  background-color: #0020f4;
}
.headerbutton {
  border-radius: 28px;
  height: 55px;
  width: 160px;
  color: #171717;
  font-size: 16px;
  letter-spacing: 0px;
  opacity: 1;
}
.mainbutton {
  border-radius: 28px;
  color: #ffffff;
  background-color: #0a22f4;
  height: 55px;
  width: 341px;
  font-size: 16px;
  letter-spacing: 0px;
  opacity: 1;
  margin-bottom: 180px;
}
.relativeimg {
  position: relative;
  margin-top: -230px;
}
.logo {
  display: flex;
}
.navparrent,
ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footerpmap {
  display: flex;
  flex-direction: column;
}
.parrentfooterpmap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
form {
  display: flex;
  flex-direction: column;
}
input {
  margin-top: 50px;
  height: 60px;
  background-color: #0020f4;
  border-bottom: 2px solid #ffffff;
}
textarea {
  margin-top: 50px;
  height: 60px;
  background-color: #0020f4;
  border-bottom: 2px solid #ffffff;
}
::placeholder {
  text-align: left;
  color: #ffffff;
}
.footerbuttonflex {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.footerbutton {
  margin-top: 40px;
  background-color: #ffffff;
  border-radius: 28px;
  height: 55px;
  width: 151px;
  font-size: 16px;
}
.footerpmap p {
  max-width: 463px;
  margin-bottom: 58px;
  color: #ffffff;
  font-size: 16px;
}
.contacus {
  padding-top: 70px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  text-align: center;
  flex-wrap: wrap;
}
.contacus img {
  background-color: #ffffff;
  border-radius: 40px;
  align-items: center;
}
.infoltd {
  margin-top: 200px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ltdspan a {
  text-align: center;
  align-items: center;
  margin-right: 20px;
}
form :nth-child(5) {
  display: none;
}
/*  ^______^ */

/* 1024 */

@media (width <= 1024px) {
  header {
    border-radius: 0 0 20px 20px;
  }
  .container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    justify-content: center;
  }
  .navparrent {
    display: none;
  }
  .consectetur,
  .ciceron,
  .pasage {
    display: none;
  }
  /* form {
    display: flex;
    flex-direction: column;
  }
  .footerpmap {
    display: flex;
    flex-direction: column-reverse;
  } */
  h2 {
    text-align: center;
  }
  .parrentfooterpmap {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .footerpmap p {
    display: none;
  }
  .footerbuttonflex {
    justify-content: center;
    display: none;
  }
  form :nth-child(5) {
    display: flex;
    align-self: center;
    margin: 20px 40px 20px 40px;
  }
  .infoltd {
    flex-direction: column-reverse;
    row-gap: 35px;
    column-gap: 35px;
  }
}

/* 1440 */
@media (width <= 1440px) {
  header {
    border-radius: 0 0 20px 20px;
  }
  .container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 40px;
    display: flex;
    justify-content: center;
  }
  .navparrent {
    display: none;
  }
  .consectetur,
  .ciceron,
  .pasage {
    display: none;
  }
  /* form {
    display: flex;
    flex-direction: column;
  }
  .footerpmap {
    display: flex;
    flex-direction: column-reverse;
  } */
  h2 {
    text-align: center;
  }
  .parrentfooterpmap {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .footerpmap p {
    display: none;
  }
  .footerbuttonflex {
    justify-content: center;
    display: none;
  }
  form :nth-child(5) {
    display: flex;
    align-self: center;
    margin: 20px 40px 20px 40px;
  }
  .infoltd {
    flex-direction: column-reverse;
    row-gap: 35px;
    column-gap: 35px;
  }
}
